# ignore node-modules folder
node_modules/

# jet brains config
.idea
# env file
.env
# build files
dist/
build/

# binaries
*.exe
*.out

# vscode
*vscode*
*.code-workspace
*.pem

# performance log files
*.log

# secrets folder
secrets/
